<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nick East - Aspiring Front End Developer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="Nick East - Aspiring Front End Developer">
        <meta name="description" content="Nick East is an aspiring front end web developer from London, UK. Creating websites and web-apps for the 21st century."/>
        <meta name="keywords" content="Web Design, Web Development, Design, Website, Designer, Front End Developer, Front End Development" />
        <meta name="author" content="Nick East">
        <meta name="robots" content="index, follow">
        <meta name="revisit-after" content="1 days">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="mobile-menu.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="/hamburgers.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Unica+One&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="logo.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!--Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138434630-1"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-138434630-1');
        </script>
        <script
        src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    </head>
    <body>
        <header>
            <div id="particles-js" class="main-header">
                <div class="mobile-menu-wrapper">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="330.000000pt" height="308.000000pt" viewBox="0 0 330.000000 308.000000" preserveAspectRatio="xMidYMid meet" class="main-logo">
                            <g transform="translate(0.000000,308.000000) scale(0.100000,-0.100000)"  stroke="none">
                                <path d="M0 2830 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                <path d="M0 1450 l0 -250 875 0 875 0 0 250 0 250 -875 0 -875 0 0 -250z" class="logo-path"/>
                                <path d="M0 250 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                            </g>
                        </svg>
                        <div class="menu">
                                <div class="hamburger hamburger--spring " tabindex="0"aria-label="Menu" role="button" aria-controls="navigation">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                        </div>
                        <div class="mobile-overlay">
                                <div class="colourful-clip"></div>
                                <i class="fas fa-times up-arrow"></i>
                                <nav>
                                    <ul>
                                        <li class="logo-li">
                                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="330.000000pt" height="308.000000pt" viewBox="0 0 330.000000 308.000000" preserveAspectRatio="xMidYMid meet" class="logo">
                                                <g transform="translate(0.000000,308.000000) scale(0.100000,-0.100000)"  stroke="none">
                                                    <path d="M0 2830 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                                    <path d="M0 1450 l0 -250 875 0 875 0 0 250 0 250 -875 0 -875 0 0 -250z" class="logo-path"/>
                                                    <path d="M0 250 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                                </g>
                                            </svg></li>
                                        <li class="links-border"><a href='index'>Home</a></li>
                                        <li class="links-border"><a href="about">About</a></li>
                                        <li class="links-border"><a href='portfolio'>Projects</a></li>
                                        <li class="links-border"><a href="under-constuction">Blog</a></li>
                                        <li class="links-border"><a href="contact">Contact</a></li>
                                    </ul>
                                    <div class="desktop-mobile-social">
                                            <ul>
                                                <li><i class="fab fa-twitter-square"></i></li>
                                                <li><i class="fab fa-instagram"></i></li>
                                                <li><i class="fab fa-linkedin"></i></li>
                                                <li><i class="fab fa-github-square"></i></li>
                                            </ul>
                                    </div>
                                </nav>
                                
                        </div>
                </div>
                <div class="title-card">
                    <div class="introduction">
                        <h1 data-aos="fade-down" data-aos-duration="1000">Nick East</h1>
                        <h2 data-aos="fade-down" data-aos-duration="1000" data-aos-delay="150">Aspiring Front End <br>Web-Developer</h2>
                        <div class="button-wrapper">
                            <button class="portfolio-button" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="650"><a href="portfolio">Portfolio</a></button>
                        </div>
                        <div class="lower-header-wrapper">
                            <h1>Frontend web development using <span data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">HTML</span>,<span data-aos="fade-down" data-aos-delay="150" data-aos-duration="1000"> CSS</span>, <span data-aos="fade-down" data-aos-delay="200" data-aos-duration="1000">JavaScript</span> and <span  data-aos="fade-down" data-aos-delay="250" data-aos-duration="1000">APIs</span>.</h1>
                            <h1>Backend development using <i data-aos="fade-down" data-aos-delay="500" data-aos-duration="6000">NodeJS</i></h1>
                            <a href="about"><button>Find out more...</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
        <div class="recent-work-section">
            <div class="potfolio-wrapper">
                <h1>Seletion of my recent work</h1>
                <p>Check out some of my latest projects below, click through to view the source code on Github.</p>
                <div class="projects-wrapper">
                    <div class="projects-inner-hp ">
                        <a href="ocean-capital"><div class="pr-i-wrapper-colour colour-1"></div></a>
                        <div class="pr-i-inner-text">
                                <h5>Ocean Capital</h5>
                                <p>Template website for hedge fund.</p>
                        </div>
                        <div class="pr-i-inner-img">
                                <img src="ocean-capital-placeholder.png">
                        </div>
                    </div>
                    <div class="projects-inner-hp">
                        <a href="weather-app"><div class="pr-i-wrapper-colour colour-2"></div></a>
                            <div class="pr-i-inner-text">
                                <h5>Weather App</h5>
                                <p>Command line weather app usings AJAX/APIs</p>
                            </div>
                            <div class="pr-i-inner-img">
                                <img src="command-weather-app.png">
                            </div>
                    </div>
                    <div class="projects-inner-hp ">
                        <a href="restaurant"><div class="pr-i-wrapper-colour colour-3"></div></a>
                            <div class="pr-i-inner-text">
                                <h5>Restaurant Site</h5>
                                <p>Demo website for a local restaurant</p>
                            </div>
                            <div class="pr-i-inner-img">
                                <img src="jane-smith.png">
                            </div>
                    </div>
                    <div class="projects-inner-hp">
                       <a href="creative-agency"><div class="pr-i-wrapper-colour colour-4"></div></a>
                            <div class="pr-i-inner-text">
                                <h5>Creative Agency</h5>
                                <p>Example website for a creative agency</p>
                            </div>
                            <div class="pr-i-inner-img">
                                <img src="john-smith-creative.png">
                            </div>
                    </div>
                </div>
                <div class="see-more-wrapper">
                    <a href="portfolio"><button class="see-more-button">see the rest</button></a>
                </div>
            </div>  
        </div>
        <div class="social-media">
            <div class="social-media-scew"></div>
            <div class="social-media-content">
                <h4>Check me out online</h4>
                <div class="social-links">
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-github-square"></i>
                </div>
                <h4>or email</h4>
                <p>nick_east@yahoo.com</p>

            </div>
        </div>
        </main>
        <footer class="footer">
            <div class="footer-content">
                    <h3>Feeling formal?</h3>
                    <p>Then get in contact with me using the form below</p>
                <form method="POST" role="form" action="/contact-form" id="my-form">
                    <div class="contact-main-wrapper">
                        <div class="form-name-wrapper">
                            <label>Name</label>
                            <input type="text" name="name" id="id_name" required>
                        </div>
                        <div class="form-email-wrapper">
                            <label>Email</label>
                            <input type="email" name="email" id="email-to" required>
                        </div>
                    </div>
                    <div class="text-wrapper">
                        <label>Message</label>
                        <textarea class="text-box" name="message" id="body-message" required></textarea>
                    </div>
                    <div class="submit-button">
                        <button type="submit" value="submit" name="submit" id="send_email">send</button>
                    </div>
                </form> 
            </div>
        </footer>
        <script src="particles.js"></script>
        <script>
            particlesJS.load('particles-js', 'particles.json', function() {
            console.log('callback - particles-js config loaded');
            });
        </script>
        <script>
            // Look for .hamburger
            var hamburger = document.querySelector(".hamburger");
            // On click
            hamburger.addEventListener("click", () => {
                hamburger.classList.toggle("is-active");
            // Do something else, like open/close menu
            });
        </script>
        <script src="script.js"></script>
        <script src="mobile-menu.js"></script>
        <script src="menu-scroll.js"></script>
        <script src="contact-form.js"></script>
        <script>
                AOS.init();
        </script>
        <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
        <script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#252e39"
    },
    "button": {
      "background": "#14a7d0"
    }
  },
  "type": "opt-in",
  "content": {
    "link": "How we use cookies",
    "href": "/privacy-policy"
  }
});
        </script>
    </body>
</html>
