<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Privacy Policy | Nick East - Aspiring Front End Developer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="Privacy Policy | Nick East - Aspiring Front End Developer">
        <meta name="description" content="Nick East is an aspiring front end web developer from London, UK. Creating websites and web-apps for the 21st century."/>
        <meta name="keywords" content="Web Design, Web Development, Design, Website, Designer, Front End Developer, Front End Development" />
        <meta name="author" content="metatags generator">
        <meta name="robots" content="index, follow">
        <meta name="revisit-after" content="1 days">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="mobile-menu.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="hamburgers.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Unica+One&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/pictures/logo.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!--Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138434630-1"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-138434630-1');
        </script>
        <script
        src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    </head>
    <body>
        <header>
            <div class="privacy-policy-wrapper">
                <div class="mobile-menu-wrapper">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="330.000000pt" height="308.000000pt" viewBox="0 0 330.000000 308.000000" preserveAspectRatio="xMidYMid meet" class="main-logo logo-fix">
                                    <g transform="translate(0.000000,308.000000) scale(0.100000,-0.100000)"  stroke="none">
                                        <path d="M0 2830 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                        <path d="M0 1450 l0 -250 875 0 875 0 0 250 0 250 -875 0 -875 0 0 -250z" class="logo-path"/>
                                        <path d="M0 250 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                    </g>
                    </svg>
                    <div class="menu">
                                        <div class="hamburger hamburger--spring " tabindex="0"aria-label="Menu" role="button" aria-controls="navigation">
                                            <div class="hamburger-box">
                                                <div class="hamburger-inner"></div>
                                            </div>
                                        </div>
                     </div>
                     <div class="mobile-overlay">
                                        <div class="colourful-clip"></div>
                                        <i class="fas fa-times up-arrow"></i>
                                        <nav>
                                            <ul>
                                                <li class="logo-li">
                                                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="330.000000pt" height="308.000000pt" viewBox="0 0 330.000000 308.000000" preserveAspectRatio="xMidYMid meet" class="logo">
                                                        <g transform="translate(0.000000,308.000000) scale(0.100000,-0.100000)"  stroke="none">
                                                            <path d="M0 2830 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                                            <path d="M0 1450 l0 -250 875 0 875 0 0 250 0 250 -875 0 -875 0 0 -250z" class="logo-path"/>
                                                            <path d="M0 250 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                                        </g>
                                                    </svg></li>
                                                <li class="links-border"><a href="index">Home</a></li>
                                                <li class="links-border"><a href="about">About</a></li>
                                                <li class="links-border"><a href="portfolio">Projects</a></li>
                                                <li class="links-border"><a href="under-constuction">Blog</a></li>
                                                <li class="links-border"><a href="contact">Contact</a></li>
                                            </ul>
                                            <div class="desktop-mobile-social">
                                                    <ul>
                                                        <li><i class="fab fa-twitter-square"></i></li>
                                                        <li><i class="fab fa-instagram"></i></li>
                                                        <li><i class="fab fa-linkedin"></i></li>
                                                        <li><i class="fab fa-github-square"></i></li>
                                                    </ul>
                                            </div>
                                        </nav>
                    </div>
                </div>
                <div class="privacy-policy-inner">
                    <h1>Privacy Policy</h1>
                    <div class="privacy-policy-content">
                        <i>Last Updated: July 2019</i>
                        <h3>PRIVACY POLICY</h3>
                        <p>This Privacy Statement outlines our information gathering and dissemination practices for our website. By using this site, you consent to the data practices described in this statement.</p>
                        <h3>DATA SECURITY – YOUR PERSONAL AND COMPANY INFORMATION</h3>
                        <p>nick-east.com takes data security and privacy very seriously. nick-east.com respects the privacy of every individual and organisation that visits our website(s) or responds to an online invitation, submits a contact form or engages with us in any other way.</p>
                        <h3>INFORMATION COLLECTION</h3>
                        <p>In order to personalise your web experience, we may at times require information from you. By using this site, you consent to us doing this.</p>
                        <h3>PERSONAL INFORMATION</h3>
                        <p>nick-east.com from time to time may require personal information (e.g. Name, Company, e-mail address) from you whether you visit our site as a visitor or registered customer. nick-east.com will endeavour to not use personally identifiable information outside of the context in which it was provided unless otherwise approved by you at time of submission.</p>
                        <h3>WEBSITE COOKIES</h3>
                        <p>Cookies are pieces of information placed on your hard drive after you visit web sites. nick-east.com use these as part of your user experience of our website. Your browser manages the cookie. To ensure we are publishing content you need and want, nick-east.com uses cookies to distinguish between types of visitors and to serve ads based on prior visits to the site. When you visit the site, a cookie is placed on your machine (if you accept cookies) or is read if you’ve visited the site previously. You can make the choice of whether to accept a cookie or not with your browser settings. Please see your browser instructions for other guidelines on cookie use. Cookies may or may not contain personally identifiable information.</p>
                        <h3>HOW DO WE USE THESE COOKIES?</h3>
                        <p>nick-east.com actively use cookies to record how our visitors use and browse around our website (www.nick-east.com). This helps us determine popular and unpopular pages and lets us know where we need to improve our site.</p><br>
                        <p>In order to achieve this we use the popular Google Analytics system which shows us what our most popular sections are, what our users type into Google in order to find us and how effective our marketing campaigns are.</p>
                        <h3>INFORMATION ACCESS AND SECURITY</h3>
                        <p>nick-east.com only shares confidential information with its business partners and only in the context for which it was provided. If you have submitted confidential information to this website, and would like that information deleted from our records, please contact nick-east.com via our Contact Us page. We will use reasonable efforts to delete this information from our files.</p>
                        <h3>LINKS TO OTHER SITES</h3>
                        <p>In some areas, www.nick-east.com includes links to other websites. Note that we do not review the privacy practices of those sites, or guarantee the privacy of information you enter outside of nick-east.com</p>
                    </div>
                </div>
            </div>
        </header>
        <main>
            
        </main>
        <footer>
                <div class="main-footer-body">
                        <div class="main-footer-scew"></div>
                        <div class="footer-logo-wrapper">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 330.000000 308.000000" preserveAspectRatio="xMidYMid meet" class="footer-logo">
                            <g transform="translate(0.000000,308.000000) scale(0.100000,-0.100000)"  stroke="none">
                                <path d="M0 2830 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                <path d="M0 1450 l0 -250 875 0 875 0 0 250 0 250 -875 0 -875 0 0 -250z" class="logo-path"/>
                                <path d="M0 250 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                            </g>
                            </svg>
                        </div>
                        <div class="footer-text">
                            <p>nick east web  design <span class="p-break">&amp;</span> development</p>
                            <p><a href="index">home</a><span class="p-break">|</span><a href="about.ejs">about</a><span class="p-break">|</span><a href="contact">contact</a><span class="p-break">|</span><a href="privacy-policy">privacy</a></p>
                        </div>
                        
                    </div>
        </footer>
        <script>
            // Look for .hamburger
            var hamburger = document.querySelector(".hamburger");
            // On click
            hamburger.addEventListener("click", () => {
                hamburger.classList.toggle("is-active");
            // Do something else, like open/close menu
            });
        </script>
        <script src="mobile-menu.js"></script>
        <script src="menu-scroll.js"></script>
        <script>
                AOS.init();
        </script>
        <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>
    </body>
</html>
