<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Treehouse API | Nick East - Aspiring Front End Developer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="Treehouse API | Nick East - Aspiring Front End Developer">
        <meta name="description" content="Nick East is an aspiring front end web developer from London, UK. Creating websites and web-apps for the 21st century."/>
        <meta name="keywords" content="Web Design, Web Development, Design, Website, Designer, Front End Developer, Front End Development" />
        <meta name="author" content="Nick East">
        <meta name="robots" content="index, follow">
        <meta name="revisit-after" content="1 days">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="mobile-menu.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="hamburgers.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Unica+One&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/pictures/logo.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!--Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138434630-1"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-138434630-1');
        </script>
        <script
        src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    </head>
    <body>
        <header>
            <div class="projects-background">
                <div class="projects-scew"></div>
                <div class="mobile-menu-wrapper">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="330.000000pt" height="308.000000pt" viewBox="0 0 330.000000 308.000000" preserveAspectRatio="xMidYMid meet" class="main-logo logo-fix">
                                    <g transform="translate(0.000000,308.000000) scale(0.100000,-0.100000)"  stroke="none">
                                        <path d="M0 2830 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                        <path d="M0 1450 l0 -250 875 0 875 0 0 250 0 250 -875 0 -875 0 0 -250z" class="logo-path"/>
                                        <path d="M0 250 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                    </g>
                    </svg>
                    <div class="menu">
                                        <div class="hamburger hamburger--spring " tabindex="0"aria-label="Menu" role="button" aria-controls="navigation">
                                            <div class="hamburger-box">
                                                <div class="hamburger-inner"></div>
                                            </div>
                                        </div>
                     </div>
                     <div class="mobile-overlay">
                                        <div class="colourful-clip"></div>
                                        <i class="fas fa-times up-arrow"></i>
                                        <nav>
                                            <ul>
                                                <li class="logo-li">
                                                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="330.000000pt" height="308.000000pt" viewBox="0 0 330.000000 308.000000" preserveAspectRatio="xMidYMid meet" class="logo">
                                                        <g transform="translate(0.000000,308.000000) scale(0.100000,-0.100000)"  stroke="none">
                                                            <path d="M0 2830 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                                            <path d="M0 1450 l0 -250 875 0 875 0 0 250 0 250 -875 0 -875 0 0 -250z" class="logo-path"/>
                                                            <path d="M0 250 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                                        </g>
                                                    </svg></li>
                                                <li class="links-border"><a href="index">Home</a></li>
                                                <li class="links-border"><a href="about">About</a></li>
                                                <li class="links-border"><a href="portfolio">Projects</a></li>
                                                <li class="links-border"><a href="/under-constuction">Blog</a></li>
                                                <li class="links-border"><a href="contact">Contact</a></li>
                                            </ul>
                                            <div class="desktop-mobile-social">
                                                    <ul>
                                                        <li><i class="fab fa-twitter-square"></i></li>
                                                        <li><i class="fab fa-instagram"></i></li>
                                                        <li><i class="fab fa-linkedin"></i></li>
                                                        <li><i class="fab fa-github-square"></i></li>
                                                    </ul>
                                            </div>
                                        </nav>
                    </div>
                </div>
                <div class="main-projects-wrapper">
                        <div class="main-projects-img-wrapper">
                            <img src="treehouse-placeholder-large.png">
                        </div>
                        <div class="main-project-key-points">
                            <h2>file name</h2>
                            <p>Treehouse API</p>
                            <h2>skills used:</h2>
                            <ul>
                                <li>NodeJS</li>
                                <li>JavaScript/JQuery</li>
                                <li>AJAX/API</li>
                                <li>Npm</li>
                            </ul>
                        </div>
                </div>
            </div>
        </header>
        <main>
            <div class="projects-description-wrapper-two">
                <div class="description-scew"></div>
                <div class="description-content">
                    <h2>description</h2>
                    <p>By using the Treehouse API. I was able to build a small application that takes in a profile on the Treehouse website and return the profile ID, name, points and any special contributions. </p>
                    <p><span class="p-statments">PROS:</span>Well the API connect and outputs the response in a readable format.</p>
                    <p><span class="p-statments">CONS:</span>Boring...</p>
                    <h2>View Source: </h2><span><a href="https://github.com/NickEast12/NodeJS-Treehouse-API"><i class="fab fa-github-square"></i></a></span>
                </div>
            </div>
        </main>
        <footer>
                <div class="main-footer-body">
                        <div class="main-footer-scew"></div>
                        <div class="footer-logo-wrapper">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 330.000000 308.000000" preserveAspectRatio="xMidYMid meet" class="footer-logo">
                            <g transform="translate(0.000000,308.000000) scale(0.100000,-0.100000)"  stroke="none">
                                <path d="M0 2830 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                <path d="M0 1450 l0 -250 875 0 875 0 0 250 0 250 -875 0 -875 0 0 -250z" class="logo-path"/>
                                <path d="M0 250 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                            </g>
                            </svg>
                        </div>
                        <div class="footer-text">
                            <p>nick east web  design <span class="p-break">&amp;</span> development</p>
                            <p><a href="index">home</a><span class="p-break">|</span><a href="about.ejs">about</a><span class="p-break">|</span><a href="contact">contact</a><span class="p-break">|</span><a href="privacy-policy">privacy</a></p>
                        </div>
                        
                    </div>
        </footer>
        <script>
            // Look for .hamburger
            var hamburger = document.querySelector(".hamburger");
            // On click
            hamburger.addEventListener("click", () => {
                hamburger.classList.toggle("is-active");
            // Do something else, like open/close menu
            });
        </script>
        <script src="mobile-menu.js"></script>
        <script src="menu-scroll.js"></script>
        <script>
                AOS.init();
        </script>
        <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>
    </body>
</html>
