textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
  -webkit-appearance: none;
  border-radius: 0;
}

@media only screen and (min-width: 320px) {
  .mobile-menu-wrapper {
    width: 100%;
    padding-top: .8em;
    padding-left: .5em;
  }
  .mobile-menu-wrapper .main-logo {
    width: 2em;
    height: 2em;
    margin: 1em 0 0 1em;
    fill: white;
    -webkit-transition: fill 1s ease;
    transition: fill 1s ease;
    position: relative;
    z-index: 4;
  }
  .mobile-menu-wrapper .main-logo:hover {
    fill: #00c780;
  }
  .mobile-menu-wrapper .menu {
    cursor: pointer;
    text-align: right;
    margin-top: .3em;
    position: fixed;
    right: 2.5%;
    top: .1%;
    z-index: 15;
  }
  .mobile-menu-wrapper .menu .hamburger {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  .mobile-menu-wrapper .mobile-overlay {
    width: 100%;
    z-index: 20;
    height: 10vh;
    top: 0;
    left: 0;
    position: fixed;
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    transition: transform .5s ease, -webkit-transform .5s ease;
  }
  .mobile-menu-wrapper .mobile-overlay .colourful-clip {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: #30d1b8;
    /* fallback for old browsers */
    background: linear-gradient(27deg, #30d1b8 0%, #32e29e 100%);
  }
  .mobile-menu-wrapper .mobile-overlay .desktop-mobile-social {
    display: none;
  }
  .mobile-menu-wrapper .mobile-overlay .desktop-mobile-social ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 70%;
  }
  .mobile-menu-wrapper .mobile-overlay .desktop-mobile-social ul li i {
    font-size: 20px;
  }
  .mobile-menu-wrapper .mobile-overlay .up-arrow {
    position: absolute;
    top: 1.7em;
    right: 1em;
    z-index: 15;
    font-size: 1.5em;
    padding: .1em;
    width: 9%;
    height: 5%;
    text-align: center;
    cursor: pointer;
    color: whitesmoke;
  }
  .mobile-menu-wrapper .mobile-overlay nav {
    position: relative;
    z-index: 10;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2em;
    list-style-type: none;
    z-index: 10;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .links-border {
    margin-top: .9em;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul li {
    padding: .3em 0;
    font-size: 1.45em;
    color: white;
    text-align: center;
    font-family: "Unica One", cursive;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul li .logo {
    height: 40px;
    width: 40px;
    margin-bottom: 1em;
    fill: black;
    background: white;
    padding: 5px 10px;
    -webkit-transition-property: background fill;
    transition-property: background fill;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul li .logo:hover {
    fill: white;
    background: black;
  }
}

@media only screen and (min-width: 375px) {
  body .mobile-menu-wrapper .mobile-overlay .desktop-mobile-social ul {
    margin-top: 7em;
  }
  body .mobile-menu-wrapper .mobile-overlay nav ul li {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 414px) {
  body .mobile-menu-wrapper .mobile-overlay .desktop-mobile-social ul {
    margin-top: 7em;
  }
  body .mobile-menu-wrapper .mobile-overlay nav ul li {
    font-size: 1.8em;
  }
}

@media only screen and (min-width: 1024px) {
  .mobile-menu-wrapper .main-logo {
    margin: 2em 0 0 3em;
  }
  .mobile-menu-wrapper .mobile-overlay .colourful-clip {
    height: 100vh;
  }
  .mobile-menu-wrapper .mobile-overlay .up-arrow {
    top: 4.45em;
    right: 5em;
    width: 0;
    height: 0;
  }
  .mobile-menu-wrapper .mobile-overlay nav {
    margin-top: 15.2em;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .logo-li {
    position: absolute;
    top: -5em;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .links-border {
    border: none;
    position: relative;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .links-border:hover {
    color: black;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .links-border:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .links-border:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .links-border {
    cursor: pointer;
    opacity: .7;
    font-size: 2em;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
    text-align: center;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .links-border:hover {
    opacity: 1;
  }
  .mobile-menu-wrapper .mobile-overlay .desktop-mobile-social {
    display: block;
    margin-top: 20em;
  }
  .mobile-menu-wrapper .mobile-overlay .desktop-mobile-social ul li i {
    font-size: 1.05em;
  }
}

@media only screen and (min-width: 1440px) {
  .mobile-menu-wrapper .main-logo {
    margin: 2em 0 0 3em;
  }
  .mobile-menu-wrapper .mobile-overlay {
    overflow: hidden;
    background: transparent;
    width: 100%;
    height: 100%;
    font-size: 18px;
  }
  .mobile-menu-wrapper .mobile-overlay .colourful-clip {
    height: 100vh;
    opacity: .97;
  }
  .mobile-menu-wrapper .mobile-overlay nav {
    margin-top: 6em;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul {
    height: 100%;
    margin-top: 18%;
    margin-bottom: 25%;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .links-border {
    border: none;
    position: relative;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .links-border:hover {
    color: black;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .links-border:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .links-border:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .logo-li {
    left: 15.5%;
    top: -30%;
  }
  .mobile-menu-wrapper .mobile-overlay nav ul .logo-li .logo {
    width: 50px;
    height: 50px;
  }
  .mobile-menu-wrapper .mobile-overlay nav .desktop-mobile-social {
    background: transparent;
    display: block;
    position: relative;
    width: 100%;
    margin-top: -3%;
  }
  .mobile-menu-wrapper .mobile-overlay nav .desktop-mobile-social ul {
    display: -ms-grid;
    display: grid;
    width: 40%;
    margin: 0 auto;
    padding: 0;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .mobile-menu-wrapper .mobile-overlay nav .desktop-mobile-social ul li {
    text-align: center;
  }
  .mobile-menu-wrapper .mobile-overlay nav .desktop-mobile-social ul li i {
    font-size: .8em;
    color: white;
    opacity: 1;
  }
  .mobile-menu-wrapper .mobile-overlay nav .desktop-mobile-social ul li i:hover {
    color: black;
    cursor: pointer;
  }
  .mobile-menu-wrapper .mobile-overlay .up-arrow {
    right: 15%;
    top: 12%;
  }
}
/*# sourceMappingURL=mobile-menu.css.map */